In [2]:
import pandas as pd
import numpy as np

In [58]:
df = pd.read_csv("/Users/namanpant/Downloads/rishab_path_last_1M.csv")

/var/folders/nv/z55hwk9s44768mxrw8h7j2bh0000gp/T/ipykernel_9911/712611599.py:1: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/namanpant/Downloads/rishab_path_last_1M.csv")

In [59]:
df.head()

,_id,telephone,User ID,Product ID,ts,pincode,platform,Rating,Session ID,User ID1,user_id_hashed
0,65120501,9848223709,9848223709,148912,2.022092e+13,533005,Android,0.5,143452.0,9848223709*143452,41278098
1,55395639,9848251185,9848251185,147855,2.022092e+13,503111,Web,0.5,143453.0,9848251185*143453,41278099
2,55395639,9848251185,9848251185,204585,2.022092e+13,503111,Web,0.5,143453.0,9848251185*143453,41278099
3,55395639,9848251185,9848251185,151243,2.022092e+13,503111,Web,0.5,143453.0,9848251185*143453,41278099
4,55395639,9848251185,9848251185,142995,2.022092e+13,503111,Web,0.5,143453.0,9848251185*143453,41278099

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   _id             1000000 non-null  int64
 1   telephone       1000000 non-null  object
 2   User ID         1000000 non-null  object
 3   Product ID      1000000 non-null  int64
 4   ts              1000000 non-null  float64
 5   pincode         982946 non-null   object
 6   platform        1000000 non-null  object
 7   Rating          1000000 non-null  float64
 8   Session ID      1000000 non-null  float64
 9   User ID1        1000000 non-null  object
 10  user_id_hashed  1000000 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 83.9+ MB

In [61]:
columns = df.columns
df = df.iloc[200000:, :]

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 200000 to 999999
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   _id             800000 non-null  int64
 1   telephone       800000 non-null  object
 2   User ID         800000 non-null  object
 3   Product ID      800000 non-null  int64
 4   ts              800000 non-null  float64
 5   pincode         786434 non-null  object
 6   platform        800000 non-null  object
 7   Rating          800000 non-null  float64
 8   Session ID      800000 non-null  float64
 9   User ID1        800000 non-null  object
 10  user_id_hashed  800000 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 67.1+ MB

In [63]:
df.shape
df.head()

,_id,telephone,User ID,Product ID,ts,pincode,platform,Rating,Session ID,User ID1,user_id_hashed
200000,47569202,7287937367,7287937367,148393,2.022092e+13,600113,Android,0.85,21922.0,7287937367*21922,41318925
200001,47569202,7287937367,7287937367,146461,2.022092e+13,600113,Android,0.50,21922.0,7287937367*21922,41318925
200002,47569202,7287937367,7287937367,146461,2.022092e+13,600113,Android,0.85,21922.0,7287937367*21922,41318925
200003,47569202,7287937367,7287937367,137950,2.022092e+13,600113,Android,0.50,21922.0,7287937367*21922,41318925
200004,47569202,7287937367,7287937367,148393,2.022092e+13,600113,Android,0.85,21922.0,7287937367*21922,41318925

In [64]:
print(df.iloc[0])

_id                       47569202
telephone               7287937367
User ID                 7287937367
Product ID                  148393
ts                20220917083807.0
pincode                     600113
platform                   Android
Rating                        0.85
Session ID                 21922.0
User ID1          7287937367*21922
user_id_hashed            41318925
Name: 200000, dtype: object

In [65]:
df.to_csv("userdata.csv", header = columns, index = False)

In [66]:
df = pd.read_csv("userdata.csv")

/var/folders/nv/z55hwk9s44768mxrw8h7j2bh0000gp/T/ipykernel_9911/3551052658.py:1: DtypeWarning: Columns (1,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("userdata.csv")

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   _id             800000 non-null  int64
 1   telephone       800000 non-null  object
 2   User ID         800000 non-null  object
 3   Product ID      800000 non-null  int64
 4   ts              800000 non-null  float64
 5   pincode         786434 non-null  object
 6   platform        800000 non-null  object
 7   Rating          800000 non-null  float64
 8   Session ID      800000 non-null  float64
 9   User ID1        800000 non-null  object
 10  user_id_hashed  800000 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 67.1+ MB

In [69]:
df = df.loc[:10000,["telephone", "Product ID", "ts", "Rating"]]

In [70]:
df.head()

    telephone  Product ID            ts  Rating
0  7287937367      148393  2.022092e+13    0.85
1  7287937367      146461  2.022092e+13    0.50
2  7287937367      146461  2.022092e+13    0.85
3  7287937367      137950  2.022092e+13    0.50
4  7287937367      148393  2.022092e+13    0.85

In [71]:
df.shape

(10001, 4)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   telephone  10001 non-null  object
 1   ts         10001 non-null  float64
 2   Rating     10001 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [81]:
data = {}

In [94]:
df = df.astype({"ts":"string"})

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   telephone   10001 non-null  object
 1   Product ID  10001 non-null  int64
 2   ts          10001 non-null  string
 3   Rating      10001 non-null  float64
dtypes: float64(1), int64(1), object(1), string(1)
memory usage: 312.7+ KB

In [96]:
print(df.loc[:0,["ts"]])

                 ts
0  20220917083807.0

In [97]:
df["Rating"].value_counts()

0.50    7629
1.00    1176
0.85     774
0.70     422
Name: Rating, dtype: int64

In [98]:
df.isnull().sum()

telephone     0
Product ID    0
ts            0
Rating        0
dtype: int64

In [78]:
users = df["telephone"].unique()

In [82]:
for user in users:
    data[user] = {"Date": "", "Add to wl":0, "Add to cart": 0, "# wl": 0, "# cart": 0}

In [101]:
for index, row in df.iterrows():
    data[row["telephone"]]["Date"] = "17 Sep 2022"
    if (row["Rating"] == 0.7):
        data[row["telephone"]]["Add to wl"] = 1
        data[row["telephone"]]["# wl"] += 1
    if (row["Rating"] == 0.85):
        data[row["telephone"]]["Add to cart"] = 1
        data[row["telephone"]]["# cart"] += 1

In [102]:
for user, userdata in data.items():
    print (str(user) + " ", end ="")
    for values in userdata.values():
        print(str(values) + " ", end = "")
    print()

7287937367 17 Sep 2022 0 1 0 15
7287946375 17 Sep 2022 0 0 0 0
7287946714 17 Sep 2022 0 0 0 0
7287969768 17 Sep 2022 0 1 0 3
7287985227 17 Sep 2022 0 0 0 0
7288004379 17 Sep 2022 0 0 0 0
7288004999 17 Sep 2022 0 1 0 3
7288007740 17 Sep 2022 0 0 0 0
7288031260 17 Sep 2022 0 1 0 12
7288042943 17 Sep 2022 0 1 0 3
7288047734 17 Sep 2022 0 0 0 0
7288066348 17 Sep 2022 0 0 0 0
7288819941 17 Sep 2022 0 0 0 0
7288846149 17 Sep 2022 1 0 3 0
7288856432 17 Sep 2022 0 0 0 0
7288872143 17 Sep 2022 0 0 0 0
7288882771 17 Sep 2022 0 0 0 0
7288900491 17 Sep 2022 0 0 0 0
7288912836 17 Sep 2022 0 0 0 0
7288932949 17 Sep 2022 0 0 0 0
7288935624 17 Sep 2022 0 0 0 0
7288946450 17 Sep 2022 0 1 0 6
7288998385 17 Sep 2022 0 0 0 0
7289015828 17 Sep 2022 0 0 0 0
7289021023 17 Sep 2022 0 0 0 0
7289036547 17 Sep 2022 0 0 0 0
7289037525 17 Sep 2022 0 1 0 45
7289061323 17 Sep 2022 0 0 0 0
7289062409 17 Sep 2022 0 1 0 12
7289067675 17 Sep 2022 0 0 0 0
7289072598 17 Sep 2022 0 1 0 6
7289080490 17 Sep 2022 0 0 0 0
7289800835 17 Sep 2022 0 0 0 0
7289800894 17 Sep 2022 0 0 0 0
7289812742 17 Sep 2022 0 0 0 0
7289826263 17 Sep 2022 0 0 0 0
7289828259 17 Sep 2022 0 0 0 0
7289834205 17 Sep 2022 0 0 0 0
7289846294 17 Sep 2022 0 0 0 0
7289848341 17 Sep 2022 0 1 0 6
7289854541 17 Sep 2022 0 1 0 3
7289865468 17 Sep 2022 0 1 0 6
7289868438 17 Sep 2022 0 0 0 0
7289870102 17 Sep 2022 0 0 0 0
7289887828 17 Sep 2022 0 0 0 0
7289892322 17 Sep 2022 0 1 0 3
7289898806 17 Sep 2022 0 0 0 0
7289909092 17 Sep 2022 0 0 0 0
7289927439 17 Sep 2022 1 0 3 0
7289958785 17 Sep 2022 0 0 0 0
7289970729 17 Sep 2022 0 0 0 0
7289976557 17 Sep 2022 1 1 9 6
7290018120 17 Sep 2022 0 0 0 0
7290022153 17 Sep 2022 0 0 0 0
7290043042 17 Sep 2022 0 0 0 0
7290061075 17 Sep 2022 0 0 0 0
7290080048 17 Sep 2022 0 0 0 0
7290083506 17 Sep 2022 0 0 0 0
7290816757 17 Sep 2022 1 0 63 0
7290826719 17 Sep 2022 0 0 0 0
7290842331 17 Sep 2022 1 0 6 0
7290880496 17 Sep 2022 0 1 0 6
7290891418 17 Sep 2022 0 0 0 0
7290896201 17 Sep 2022 0 0 0 0
7290905596 17 Sep 2022 0 0 0 0
7290906087 17 Sep 2022 0 0 0 0
7290921390 17 Sep 2022 0 0 0 0
7290955407 17 Sep 2022 0 0 0 0
7290961976 17 Sep 2022 0 1 0 6
7290962565 17 Sep 2022 0 0 0 0
7290965052 17 Sep 2022 0 1 0 6
7291007449 17 Sep 2022 0 1 0 3
7291018784 17 Sep 2022 0 0 0 0
7291028109 17 Sep 2022 0 0 0 0
7291051258 17 Sep 2022 0 0 0 0
7291053572 17 Sep 2022 0 0 0 0
7291062890 17 Sep 2022 0 0 0 0
7291082557 17 Sep 2022 0 0 0 0
7291801416 17 Sep 2022 1 1 21 3
7291813217 17 Sep 2022 0 1 0 9
7291816531 17 Sep 2022 0 0 0 0
7291828520 17 Sep 2022 0 1 0 3
7291885326 17 Sep 2022 0 0 0 0
7291894629 17 Sep 2022 0 0 0 0
7291918036 17 Sep 2022 0 0 0 0
7291927831 17 Sep 2022 0 1 0 3
7291952945 17 Sep 2022 0 1 0 9
7291975750 17 Sep 2022 0 0 0 0
7291983306 17 Sep 2022 1 0 3 0
7291995831 17 Sep 2022 0 0 0 0
7291997756 17 Sep 2022 0 0 0 0
7292001316 17 Sep 2022 0 1 0 3
7292041810 17 Sep 2022 0 0 0 0
7292046251 17 Sep 2022 0 0 0 0
7292093986 17 Sep 2022 0 0 0 0
7292097430 17 Sep 2022 0 0 0 0
7292801590 17 Sep 2022 0 0 0 0
7292823430 17 Sep 2022 0 0 0 0
7292828363 17 Sep 2022 0 1 0 3
7292828502 17 Sep 2022 1 0 3 0
7292903634 17 Sep 2022 0 1 0 3
7292906843 17 Sep 2022 1 1 6 9
7292929461 17 Sep 2022 0 0 0 0
7292933423 17 Sep 2022 0 0 0 0
7292941614 17 Sep 2022 0 0 0 0
7292958228 17 Sep 2022 0 1 0 3
7293000056 17 Sep 2022 0 0 0 0
7293008687 17 Sep 2022 0 1 0 6
7293102821 17 Sep 2022 0 1 0 12
7293109759 17 Sep 2022 0 0 0 0
7293302858 17 Sep 2022 0 0 0 0
7293304777 17 Sep 2022 0 0 0 0
7293574790 17 Sep 2022 0 1 0 3
7293640229 17 Sep 2022 0 0 0 0
7293719059 17 Sep 2022 0 1 0 3
7293922971 17 Sep 2022 0 1 0 6
7294030689 17 Sep 2022 1 1 3 3
7294040155 17 Sep 2022 0 1 0 3
7294058064 17 Sep 2022 0 0 0 0
7294093829 17 Sep 2022 0 0 0 0
7294112251 17 Sep 2022 0 0 0 0
7294128790 17 Sep 2022 0 1 0 3
7294145762 17 Sep 2022 0 0 0 0
7294161983 17 Sep 2022 0 0 0 0
7294870879 17 Sep 2022 1 1 3 6
7294870963 17 Sep 2022 0 1 0 3
7294874754 17 Sep 2022 0 0 0 0
7294875002 17 Sep 2022 0 0 0 0
7294893404 17 Sep 2022 0 0 0 0
7294898872 17 Sep 2022 0 0 0 0
7294905597 17 Sep 2022 0 1 0 3
7294921908 17 Sep 2022 0 1 0 3
7294986490 17 Sep 2022 0 0 0 0
7295011129 17 Sep 2022 0 0 0 0
7295047489 17 Sep 2022 0 0 0 0
7295053110 17 Sep 2022 0 0 0 0
7295077741 17 Sep 2022 0 1 0 9
7295090169 17 Sep 2022 0 0 0 0
7295814500 17 Sep 2022 0 0 0 0
7295883376 17 Sep 2022 1 0 3 0
7295887708 17 Sep 2022 0 0 0 0
7295955524 17 Sep 2022 0 0 0 0
7296083183 17 Sep 2022 0 0 0 0
7296891127 17 Sep 2022 0 0 0 0
7296905807 17 Sep 2022 1 0 3 0
7296920039 17 Sep 2022 0 1 0 3
7296928800 17 Sep 2022 0 0 0 0
7296976615 17 Sep 2022 0 0 0 0
7296991659 17 Sep 2022 0 0 0 0
7297018415 17 Sep 2022 0 0 0 0
7297024611 17 Sep 2022 0 0 0 0
7297058546 17 Sep 2022 0 0 0 0
7297066773 17 Sep 2022 0 0 0 0
7297864476 17 Sep 2022 0 0 0 0
7297864743 17 Sep 2022 0 0 0 0
7297888319 17 Sep 2022 0 1 0 6
7297896494 17 Sep 2022 0 1 0 12
7297899031 17 Sep 2022 0 0 0 0
7297899040 17 Sep 2022 0 0 0 0
7297899392 17 Sep 2022 0 1 0 3
7297940251 17 Sep 2022 0 0 0 0
7297970172 17 Sep 2022 0 0 0 0
7297974742 17 Sep 2022 0 0 0 0
7298220302 17 Sep 2022 1 1 3 33
7298275376 17 Sep 2022 0 0 0 0
7298365086 17 Sep 2022 0 0 0 0
7298445800 17 Sep 2022 0 0 0 0
7298711885 17 Sep 2022 0 1 0 3
7298713899 17 Sep 2022 0 0 0 0
7299022303 17 Sep 2022 0 0 0 0
7299036056 17 Sep 2022 0 1 0 3
7299044640 17 Sep 2022 0 1 0 3
7299098985 17 Sep 2022 0 0 0 0
7299099041 17 Sep 2022 0 0 0 0
7299106668 17 Sep 2022 0 0 0 0
7299202815 17 Sep 2022 0 1 0 3
7299320685 17 Sep 2022 0 0 0 0
7299350227 17 Sep 2022 0 1 0 3
7299413482 17 Sep 2022 0 1 0 3
7299446747 17 Sep 2022 0 0 0 0
7299481205 17 Sep 2022 0 0 0 0
7299530633 17 Sep 2022 0 0 0 0
7299553029 17 Sep 2022 0 0 0 0
7299586885 17 Sep 2022 0 0 0 0
7299661445 17 Sep 2022 0 1 0 3
7299675333 17 Sep 2022 0 0 0 0
7299678144 17 Sep 2022 0 1 0 3
7299707052 17 Sep 2022 0 0 0 0
7299710776 17 Sep 2022 0 0 0 0
7299720619 17 Sep 2022 1 0 24 0
7299722728 17 Sep 2022 0 0 0 0
7299737426 17 Sep 2022 0 0 0 0
7299774756 17 Sep 2022 0 0 0 0
7299804600 17 Sep 2022 0 0 0 0
7299842474 17 Sep 2022 0 0 0 0
7299863437 17 Sep 2022 0 0 0 0
7299903882 17 Sep 2022 0 0 0 0
7299911552 17 Sep 2022 0 0 0 0
7299915088 17 Sep 2022 0 0 0 0
7299918181 17 Sep 2022 0 0 0 0
7299924669 17 Sep 2022 0 0 0 0
7299927927 17 Sep 2022 0 0 0 0
7299928393 17 Sep 2022 0 0 0 0
7299954708 17 Sep 2022 0 0 0 0
7299964499 17 Sep 2022 0 0 0 0
7299965144 17 Sep 2022 0 0 0 0
7299997245 17 Sep 2022 0 0 0 0
7300001838 17 Sep 2022 0 0 0 0
7300044545 17 Sep 2022 0 0 0 0
7300050449 17 Sep 2022 0 0 0 0
7300052052 17 Sep 2022 0 0 0 0
7300116694 17 Sep 2022 0 0 0 0
7300116698 17 Sep 2022 0 0 0 0
7300120031 17 Sep 2022 0 1 0 3
7300169570 17 Sep 2022 0 0 0 0
7300195765 17 Sep 2022 0 0 0 0
7300258008 17 Sep 2022 0 0 0 0
7300270034 17 Sep 2022 0 0 0 0
7300272377 17 Sep 2022 0 0 0 0
7300282100 17 Sep 2022 1 0 3 0
7300327853 17 Sep 2022 0 0 0 0
7300349341 17 Sep 2022 0 0 0 0
7300378782 17 Sep 2022 0 0 0 0
7300379887 17 Sep 2022 0 0 0 0
7300394075 17 Sep 2022 0 0 0 0
7300446814 17 Sep 2022 0 0 0 0
7300478748 17 Sep 2022 0 0 0 0
7300493281 17 Sep 2022 0 0 0 0
7300512773 17 Sep 2022 0 0 0 0
7300526730 17 Sep 2022 0 0 0 0
7300541276 17 Sep 2022 0 1 0 39
7300546271 17 Sep 2022 0 1 0 6
7300548659 17 Sep 2022 0 0 0 0
7300569979 17 Sep 2022 0 0 0 0
7300570587 17 Sep 2022 0 1 0 3
7300579461 17 Sep 2022 0 1 0 3
7300585550 17 Sep 2022 1 0 6 0
7300615316 17 Sep 2022 0 1 0 6
7300693259 17 Sep 2022 0 0 0 0
7300700231 17 Sep 2022 0 0 0 0
7300725027 17 Sep 2022 0 0 0 0
7300747803 17 Sep 2022 0 0 0 0
7300758825 17 Sep 2022 0 0 0 0
7300766878 17 Sep 2022 0 0 0 0
7300809886 17 Sep 2022 0 0 0 0
7300817297 17 Sep 2022 0 1 0 3
7300855828 17 Sep 2022 0 0 0 0
7300892291 17 Sep 2022 0 0 0 0
7300901927 17 Sep 2022 0 0 0 0
7300925180 17 Sep 2022 0 0 0 0
7300935591 17 Sep 2022 0 0 0 0
7300958291 17 Sep 2022 0 0 0 0
7300995914 17 Sep 2022 1 0 6 0
7301014332 17 Sep 2022 0 1 0 9
7301100036 17 Sep 2022 0 0 0 0
7301185034 17 Sep 2022 0 0 0 0
7301282663 17 Sep 2022 0 1 0 6
7301292021 17 Sep 2022 1 0 15 0
7301413131 17 Sep 2022 0 1 0 3
7301445566 17 Sep 2022 1 0 9 0
7301472403 17 Sep 2022 0 0 0 0
7301543211 17 Sep 2022 0 0 0 0
7301610006 17 Sep 2022 0 0 0 0
7301719041 17 Sep 2022 0 0 0 0
7301763148 17 Sep 2022 0 0 0 0
7301918184 17 Sep 2022 0 0 0 0
7302100595 17 Sep 2022 0 0 0 0
7302127798 17 Sep 2022 0 1 0 6
7302147730 17 Sep 2022 0 0 0 0
7302166846 17 Sep 2022 0 1 0 3
7302180225 17 Sep 2022 0 1 0 6
7302187353 17 Sep 2022 0 1 0 3
7302191568 17 Sep 2022 0 0 0 0
7302200919 17 Sep 2022 0 0 0 0
7302202065 17 Sep 2022 0 0 0 0
7302339729 17 Sep 2022 0 0 0 0
7302406887 17 Sep 2022 0 0 0 0
7302407819 17 Sep 2022 0 0 0 0
7302434627 17 Sep 2022 0 0 0 0
7302439944 17 Sep 2022 0 0 0 0
7302466295 17 Sep 2022 0 0 0 0
7302519513 17 Sep 2022 0 0 0 0
7302528080 17 Sep 2022 0 0 0 0
7302600760 17 Sep 2022 0 0 0 0
7302623981 17 Sep 2022 0 0 0 0
7302652398 17 Sep 2022 0 0 0 0
7302653155 17 Sep 2022 0 1 0 51
7302712360 17 Sep 2022 0 0 0 0
7302712753 17 Sep 2022 0 0 0 0
7302804274 17 Sep 2022 0 0 0 0
7302939603 17 Sep 2022 0 0 0 0
7302969885 17 Sep 2022 0 1 0 3
7302990128 17 Sep 2022 0 0 0 0
7303012567 17 Sep 2022 0 0 0 0
7303025800 17 Sep 2022 0 0 0 0
7303033456 17 Sep 2022 0 0 0 0
7303036335 17 Sep 2022 0 1 0 3
7303044131 17 Sep 2022 0 0 0 0
7303049089 17 Sep 2022 0 0 0 0
7303054152 17 Sep 2022 0 0 0 0
7303055623 17 Sep 2022 0 0 0 0
7303056310 17 Sep 2022 0 0 0 0
7303063971 17 Sep 2022 0 0 0 0
7303111709 17 Sep 2022 1 0 12 0
7303120082 17 Sep 2022 0 0 0 0
7303144374 17 Sep 2022 0 0 0 0
7303152142 17 Sep 2022 0 1 0 3
7303157158 17 Sep 2022 0 0 0 0
7303161005 17 Sep 2022 0 0 0 0
7303210211 17 Sep 2022 0 0 0 0
7303233341 17 Sep 2022 0 0 0 0
7303238239 17 Sep 2022 0 0 0 0
7303239634 17 Sep 2022 0 0 0 0
7303242243 17 Sep 2022 0 0 0 0
7303250605 17 Sep 2022 0 1 0 6
7303261262 17 Sep 2022 0 0 0 0
7303266916 17 Sep 2022 0 0 0 0
7303282283 17 Sep 2022 0 0 0 0
7303295797 17 Sep 2022 0 1 0 15
7303304305 17 Sep 2022 0 0 0 0
7303311389 17 Sep 2022 0 0 0 0
7303325226 17 Sep 2022 0 0 0 0
7303325326 17 Sep 2022 0 0 0 0
7303349987 17 Sep 2022 0 0 0 0
7303353354 17 Sep 2022 0 0 0 0
7303355363 17 Sep 2022 0 0 0 0
7303367619 17 Sep 2022 0 0 0 0
7303382582 17 Sep 2022 0 0 0 0
7303414947 17 Sep 2022 0 0 0 0
7303434570 17 Sep 2022 1 0 6 0
7303438439 17 Sep 2022 0 0 0 0
7303442868 17 Sep 2022 0 0 0 0
7303446447 17 Sep 2022 0 0 0 0
7303449243 17 Sep 2022 0 0 0 0
7303510081 17 Sep 2022 1 0 3 0
7303526007 17 Sep 2022 0 0 0 0
7303527373 17 Sep 2022 1 1 6 9
7303600838 17 Sep 2022 0 1 0 3
7303601545 17 Sep 2022 0 0 0 0
7303611016 17 Sep 2022 0 0 0 0
7303621122 17 Sep 2022 0 0 0 0
7303622699 17 Sep 2022 0 0 0 0
7303675661 17 Sep 2022 0 0 0 0
7303677895 17 Sep 2022 0 0 0 0
7303731155 17 Sep 2022 0 1 0 9
7303743744 17 Sep 2022 0 0 0 0
7303747479 17 Sep 2022 0 0 0 0
7303765766 17 Sep 2022 0 0 0 0
7303774689 17 Sep 2022 0 1 0 6
7303780041 17 Sep 2022 1 1 3 3
7303803043 17 Sep 2022 0 1 0 6
7303834343 17 Sep 2022 0 0 0 0
7303842843 17 Sep 2022 0 0 0 0
7303847383 17 Sep 2022 0 0 0 0
7303866321 17 Sep 2022 0 0 0 0
7303909447 17 Sep 2022 0 0 0 0
7303933934 17 Sep 2022 0 0 0 0
7303953954 17 Sep 2022 0 0 0 0
7303955130 17 Sep 2022 0 0 0 0
7304030307 17 Sep 2022 0 0 0 0
7304044929 17 Sep 2022 0 0 0 0
7304045363 17 Sep 2022 0 0 0 0
7304046051 17 Sep 2022 0 1 0 15
7304052002 17 Sep 2022 0 0 0 0
7304068018 17 Sep 2022 1 1 12 6
7304110016 17 Sep 2022 1 0 3 0
7304122150 17 Sep 2022 1 1 3 3
7304128123 17 Sep 2022 0 0 0 0
7304171895 17 Sep 2022 0 0 0 0
7304174812 17 Sep 2022 0 1 0 6
7304193802 17 Sep 2022 0 1 0 3
7304195152 17 Sep 2022 0 0 0 0
7304208747 17 Sep 2022 0 0 0 0
7304238638 17 Sep 2022 0 0 0 0
7304247300 17 Sep 2022 0 0 0 0
7304249627 17 Sep 2022 0 0 0 0
7304254761 17 Sep 2022 0 0 0 0
7304255444 17 Sep 2022 0 0 0 0
7304293127 17 Sep 2022 0 0 0 0
7304300969 17 Sep 2022 0 0 0 0
7304304374 17 Sep 2022 0 0 0 0
7304304962 17 Sep 2022 0 0 0 0
7304307779 17 Sep 2022 0 0 0 0
7304343985 17 Sep 2022 1 1 12 12
7304345049 17 Sep 2022 0 1 0 3
7304349080 17 Sep 2022 1 1 15 3
7304383802 17 Sep 2022 0 0 0 0
7304384501 17 Sep 2022 0 0 0 0
7304388170 17 Sep 2022 0 0 0 0
7304631725 17 Sep 2022 0 1 0 3
7304656577 17 Sep 2022 0 0 0 0
7304672275 17 Sep 2022 0 0 0 0
7304715182 17 Sep 2022 0 0 0 0
7304738553 17 Sep 2022 0 0 0 0
7304744570 17 Sep 2022 0 1 0 6
7304754583 17 Sep 2022 0 0 0 0
7304783558 17 Sep 2022 0 0 0 0
7304849291 17 Sep 2022 1 0 3 0
7304881229 17 Sep 2022 0 1 0 6
7304887791 17 Sep 2022 0 0 0 0
7304887839 17 Sep 2022 0 0 0 0
7304985929 17 Sep 2022 0 1 0 3
7305022258 17 Sep 2022 0 0 0 0
7305033381 17 Sep 2022 0 1 0 9
7305041391 17 Sep 2022 0 0 0 0
7305080759 17 Sep 2022 0 0 0 0
7305087886 17 Sep 2022 0 1 0 3
7305111054 17 Sep 2022 0 1 0 3
7305122714 17 Sep 2022 0 0 0 0
7305136930 17 Sep 2022 1 0 6 0
7305144424 17 Sep 2022 0 0 0 0
7305153556 17 Sep 2022 0 1 0 3
7305207876 17 Sep 2022 0 0 0 0
7305217205 17 Sep 2022 0 0 0 0
7305235005 17 Sep 2022 0 0 0 0
7305275345 17 Sep 2022 0 0 0 0
7305284203 17 Sep 2022 0 0 0 0
7305293517 17 Sep 2022 0 1 0 3
7305309498 17 Sep 2022 1 0 3 0
7305330115 17 Sep 2022 0 0 0 0
7305331213 17 Sep 2022 0 0 0 0
7305347341 17 Sep 2022 0 0 0 0
7305353067 17 Sep 2022 0 0 0 0
7305363490 17 Sep 2022 0 0 0 0
7305384299 17 Sep 2022 0 0 0 0
7305392564 17 Sep 2022 1 0 6 0
7305416635 17 Sep 2022 0 0 0 0
7305450572 17 Sep 2022 0 1 0 3
7305510911 17 Sep 2022 0 1 0 3
7305517301 17 Sep 2022 0 0 0 0
7305569672 17 Sep 2022 0 0 0 0
7305581923 17 Sep 2022 0 0 0 0
7305624622 17 Sep 2022 0 0 0 0
7305688129 17 Sep 2022 0 1 0 18
7305727027 17 Sep 2022 0 0 0 0
7305833815 17 Sep 2022 0 0 0 0
7305834067 17 Sep 2022 0 1 0 3
7305839630 17 Sep 2022 0 0 0 0
7305863238 17 Sep 2022 1 1 3 6
7305899874 17 Sep 2022 0 0 0 0
7305928756 17 Sep 2022 0 0 0 0
7306002853 17 Sep 2022 0 0 0 0
7306005001 17 Sep 2022 0 0 0 0
7306018699 17 Sep 2022 0 0 0 0
7306033929 17 Sep 2022 1 1 3 3
7306049090 17 Sep 2022 0 1 0 6
7306055185 17 Sep 2022 1 0 3 0
7306063604 17 Sep 2022 0 0 0 0
7306065874 17 Sep 2022 0 0 0 0
7306078923 17 Sep 2022 0 0 0 0
7306082524 17 Sep 2022 0 0 0 0
7306086800 17 Sep 2022 0 0 0 0
7306097758 17 Sep 2022 1 0 18 0
7306118325 17 Sep 2022 1 0 3 0
7306123260 17 Sep 2022 0 0 0 0
7306130085 17 Sep 2022 0 0 0 0
7306134659 17 Sep 2022 0 0 0 0
7306138322 17 Sep 2022 0 0 0 0
7306143094 17 Sep 2022 0 0 0 0
7306147649 17 Sep 2022 0 0 0 0
7306149089 17 Sep 2022 0 0 0 0
7306210690 17 Sep 2022 0 0 0 0
7306214436 17 Sep 2022 0 0 0 0
7306221068 17 Sep 2022 0 0 0 0
7306222507 17 Sep 2022 0 0 0 0
7306222698 17 Sep 2022 0 0 0 0
7306234761 17 Sep 2022 0 0 0 0
7306240902 17 Sep 2022 0 0 0 0
7306265374 17 Sep 2022 0 0 0 0
7306282633 17 Sep 2022 0 1 0 3
7306301974 17 Sep 2022 0 0 0 0
7306302160 17 Sep 2022 1 1 15 3
7306304620 17 Sep 2022 0 0 0 0
7306307898 17 Sep 2022 1 0 3 0
7306320035 17 Sep 2022 0 0 0 0
7306321819 17 Sep 2022 1 1 6 15
7306322913 17 Sep 2022 1 0 9 0
7306329034 17 Sep 2022 0 0 0 0
7306356200 17 Sep 2022 0 0 0 0
7306376280 17 Sep 2022 0 1 0 12
7306384424 17 Sep 2022 0 0 0 0
7306386633 17 Sep 2022 0 0 0 0
7306394101 17 Sep 2022 0 0 0 0
7306417474 17 Sep 2022 0 0 0 0
7306419165 17 Sep 2022 0 0 0 0
7306421285 17 Sep 2022 0 0 0 0
7306427421 17 Sep 2022 0 1 0 6
7306436847 17 Sep 2022 0 0 0 0
7306459396 17 Sep 2022 0 0 0 0
7306460826 17 Sep 2022 0 1 0 15
7306469454 17 Sep 2022 0 0 0 0
7306477566 17 Sep 2022 0 0 0 0
7306489080 17 Sep 2022 0 1 0 21
7306490075 17 Sep 2022 0 0 0 0
7306503357 17 Sep 2022 0 0 0 0
7306508387 17 Sep 2022 0 1 0 6
7306533185 17 Sep 2022 0 1 0 3
7306569904 17 Sep 2022 0 0 0 0
7306587972 17 Sep 2022 1 0 9 0
7306595873 17 Sep 2022 0 0 0 0
7306607228 17 Sep 2022 0 0 0 0
7306613882 17 Sep 2022 0 0 0 0
7306639317 17 Sep 2022 0 0 0 0
7306642666 17 Sep 2022 0 0 0 0
7306669565 17 Sep 2022 0 0 0 0
7306693020 17 Sep 2022 0 0 0 0
7306718773 17 Sep 2022 1 0 6 0
7306739264 17 Sep 2022 0 0 0 0
7306745508 17 Sep 2022 0 0 0 0
7306778946 17 Sep 2022 0 0 0 0
7306786578 17 Sep 2022 0 0 0 0
7306789846 17 Sep 2022 0 0 0 0
7306796958 17 Sep 2022 0 0 0 0
7306803870 17 Sep 2022 0 0 0 0
7306856080 17 Sep 2022 0 0 0 0
7306857903 17 Sep 2022 1 0 3 0
7306864180 17 Sep 2022 0 0 0 0
7306864452 17 Sep 2022 0 0 0 0
7306865336 17 Sep 2022 0 0 0 0
7306880811 17 Sep 2022 0 1 0 12
7306881299 17 Sep 2022 0 0 0 0
7306886012 17 Sep 2022 1 0 3 0
7306887540 17 Sep 2022 0 0 0 0
7306889046 17 Sep 2022 0 0 0 0
7306906763 17 Sep 2022 0 0 0 0
7306922267 17 Sep 2022 0 0 0 0
7306922556 17 Sep 2022 0 0 0 0
7306924837 17 Sep 2022 0 1 0 3
7306927977 17 Sep 2022 0 1 0 3
7306940124 17 Sep 2022 0 0 0 0
7306949455 17 Sep 2022 0 0 0 0
7306965057 17 Sep 2022 1 1 6 21
7306983814 17 Sep 2022 1 0 3 0
7306984411 17 Sep 2022 0 0 0 0
7306998655 17 Sep 2022 0 0 0 0
7306998930 17 Sep 2022 0 0 0 0
7307019009 17 Sep 2022 0 0 0 0
7307020492 17 Sep 2022 0 1 0 3
7307028199 17 Sep 2022 0 0 0 0
7307090054 17 Sep 2022 1 1 3 3
7307109102 17 Sep 2022 0 0 0 0
7307133229 17 Sep 2022 0 0 0 0
7307139404 17 Sep 2022 0 1 0 6
7307142973 17 Sep 2022 0 0 0 0
7307162812 17 Sep 2022 0 0 0 0
7307179713 17 Sep 2022 0 0 0 0
7307204090 17 Sep 2022 0 0 0 0
7307223050 17 Sep 2022 0 0 0 0
7307223522 17 Sep 2022 0 0 0 0
7307249447 17 Sep 2022 0 0 0 0
7307271574 17 Sep 2022 0 1 0 3
7307304000 17 Sep 2022 0 0 0 0
7307316922 17 Sep 2022 1 0 3 0
7307373526 17 Sep 2022 0 0 0 0
7307379883 17 Sep 2022 0 1 0 3
7307396427 17 Sep 2022 0 0 0 0
7307435077 17 Sep 2022 0 1 0 9
7307461123 17 Sep 2022 0 0 0 0
7307464448 17 Sep 2022 1 0 3 0
7307536738 17 Sep 2022 0 0 0 0
7307608020 17 Sep 2022 0 0 0 0
7307612012 17 Sep 2022 0 0 0 0
7307646240 17 Sep 2022 0 1 0 3
7307652433 17 Sep 2022 0 0 0 0
7307671334 17 Sep 2022 0 1 0 12
7307706280 17 Sep 2022 0 0 0 0
7307712998 17 Sep 2022 0 0 0 0
7307722221 17 Sep 2022 0 0 0 0
7307776667 17 Sep 2022 0 0 0 0
7307780574 17 Sep 2022 0 0 0 0
7307804981 17 Sep 2022 0 0 0 0
7307806558 17 Sep 2022 0 0 0 0
7307846381 17 Sep 2022 0 0 0 0
7307849238 17 Sep 2022 0 0 0 0
7307882664 17 Sep 2022 0 0 0 0
7307919430 17 Sep 2022 0 0 0 0
7308134103 17 Sep 2022 1 1 6 9
7308371717 17 Sep 2022 0 0 0 0
7308405300 17 Sep 2022 0 0 0 0
7308444726 17 Sep 2022 0 0 0 0
7308634027 17 Sep 2022 0 1 0 3
7308799741 17 Sep 2022 0 0 0 0
7308971609 17 Sep 2022 0 0 0 0
7309016726 17 Sep 2022 0 0 0 0
7309086686 17 Sep 2022 0 0 0 0
7309171647 17 Sep 2022 0 0 0 0
7309209237 17 Sep 2022 0 0 0 0
7309271434 17 Sep 2022 1 1 9 9
7309283595 17 Sep 2022 0 1 0 3
7309347115 17 Sep 2022 1 1 9 3
7309506239 17 Sep 2022 0 1 0 6
7309516162 17 Sep 2022 0 0 0 0
7309544193 17 Sep 2022 0 1 0 3
7309549890 17 Sep 2022 0 0 0 0
7309615725 17 Sep 2022 0 0 0 0
7309619500 17 Sep 2022 0 0 0 0
7309653346 17 Sep 2022 0 0 0 0
7309756355 17 Sep 2022 0 0 0 0
7309758899 17 Sep 2022 0 0 0 0
7309767676 17 Sep 2022 0 0 0 0
7309814882 17 Sep 2022 0 0 0 0
7309919356 17 Sep 2022 0 1 0 3
7309922527 17 Sep 2022 0 0 0 0
7310000117 17 Sep 2022 0 1 0 3
7310017853 17 Sep 2022 0 0 0 0
7310094449 17 Sep 2022 1 1 27 24
7310202886 17 Sep 2022 0 0 0 0
7310256791 17 Sep 2022 0 1 0 9
7310297937 17 Sep 2022 0 1 0 3
7310421744 17 Sep 2022 0 0 0 0
7310560331 17 Sep 2022 0 1 0 6
7310573261 17 Sep 2022 0 0 0 0
7310623920 17 Sep 2022 0 0 0 0
7310644640 17 Sep 2022 0 0 0 0
7310658864 17 Sep 2022 0 1 0 3
7310666957 17 Sep 2022 0 1 0 6
7310718735 17 Sep 2022 0 1 0 6
7310731957 17 Sep 2022 0 0 0 0
7310738237 17 Sep 2022 0 1 0 3
7310739170 17 Sep 2022 0 1 0 3
7310754489 17 Sep 2022 0 1 0 6
7310821367 17 Sep 2022 0 0 0 0
7310891408 17 Sep 2022 0 1 0 3
7310911238 17 Sep 2022 0 0 0 0
7310915867 17 Sep 2022 0 0 0 0
7310932203 17 Sep 2022 0 0 0 0
7310997104 17 Sep 2022 0 0 0 0
7311106381 17 Sep 2022 0 0 0 0
7311116912 17 Sep 2022 0 0 0 0
7311122975 17 Sep 2022 0 0 0 0
7317094420 17 Sep 2022 0 0 0 0
7317098383 17 Sep 2022 0 0 0 0
7317217567 17 Sep 2022 0 0 0 0
7317226392 17 Sep 2022 0 1 0 6
7317373333 17 Sep 2022 0 0 0 0
7317443232 17 Sep 2022 0 0 0 0
7317509729 17 Sep 2022 0 1 0 3
7317577818 17 Sep 2022 0 0 0 0
7317602111 17 Sep 2022 0 1 0 3
7317770078 17 Sep 2022 1 0 6 0
7317770666 17 Sep 2022 1 1 21 30
7317810312 17 Sep 2022 0 0 0 0
7317827608 17 Sep 2022 0 0 0 0
7317842849 17 Sep 2022 0 0 0 0

In [111]:
fdf = pd.DataFrame({"# phone":[], "Date":[], "Add to wl":[], "Add to cart":[], "# wl":[], "# cart":[],})

In [118]:
fdf.head()

Empty DataFrame
Columns: [# phone, Date, Add to wl, Add to cart, # wl, # cart]
Index: []

In [123]:
for user, userdata in data.items():
    dic = {"# phone":user}
    row = []
    row.append(user)
    for colname, colval in userdata.items():
        dic[colname] = colval
        row.append(colval)
        
    #fdf.append(dic, ignore_index = True)
    fdf.loc[len(fdf.index)] = row

In [132]:
fdf.tail(20)

         # phone         Date  Add to wl  Add to cart  # wl  # cart
2762  7354972343  17 Sep 2022          0            0     0       0
2763  7354980403  17 Sep 2022          0            0     0       0
2764  7354989033  17 Sep 2022          1            0     3       0
2765  7355009959  17 Sep 2022          0            0     0       0
2766  7355018737  17 Sep 2022          0            0     0       0
2767  7355021198  17 Sep 2022          0            1     0       3
2768  7355021847  17 Sep 2022          0            0     0       0
2769  7355040757  17 Sep 2022          0            1     0       6
2770  7355050129  17 Sep 2022          0            0     0       0
2771  7355055502  17 Sep 2022          0            0     0       0
2772  7355060992  17 Sep 2022          0            0     0       0
2773  7355070274  17 Sep 2022          0            0     0       0
2774  7355071205  17 Sep 2022          0            1     0      12
2775  7355074774  17 Sep 2022          0            0     0       0
2776  7355078312  17 Sep 2022          0            0     0       0
2777  7355084274  17 Sep 2022          0            1     0      96
2778  7355087661  17 Sep 2022          0            0     0       0
2779  7355114199  17 Sep 2022          1            1     3      12
2780  7355114652  17 Sep 2022          0            0     0       0
2781  7355149950  17 Sep 2022          1            1   422     810

In [133]:
dfs.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'